{% block trumbowyg_widget %}
    <link rel="stylesheet" href="{{ asset('bundles/xlabstrumbowyg/trumbowyg/ui/trumbowyg.min.css') }}">
    <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/trumbowyg.min.js') }}"></script>

    {# Paste embed #}
    <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/pasteembed/trumbowyg.pasteembed.min.js') }}"></script>
    {# Paste image from clipboard #}
    <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/pasteimage/trumbowyg.pasteimage.min.js') }}"></script>

    {# PLUGINS #}
    {#
    {% if 'cleanpaste' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/cleanpaste/trumbowyg.cleanpaste.min.js') }}"></script>
    {% endif %}
    #}
    {% if 'color' in form.vars.plugins %}
        <link rel="stylesheet" href="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/colors/ui/trumbowyg.colors.min.css') }}">
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/colors/trumbowyg.colors.min.js') }}"></script>
    {% endif %}
    {% if 'emoji' in form.vars.plugins %}
        <link rel="stylesheet" href="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/emoji/ui/trumbowyg.emoji.min.css') }}">
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/emoji/trumbowyg.emoji.min.js') }}"></script>
    {% endif %}
    {% if 'fontfamily' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/fontfamily/trumbowyg.fontfamily.min.js') }}"></script>
    {% endif %}
    {% if 'fontsize' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/fontsize/trumbowyg.fontsize.min.js') }}"></script>
    {% endif %}
    {% if 'giphy' in form.vars.plugins %}
        <link rel="stylesheet" href="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/giphy/ui/trumbowyg.giphy.min.css') }}">
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/giphy/trumbowyg.giphy.min.js') }}"></script>
    {% endif %}
    {% if 'history' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/history/trumbowyg.history.min.js') }}"></script>
    {% endif %}
    {% if 'indent' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/indent/trumbowyg.indent.min.js') }}"></script>
    {% endif %}
    {% if 'insertAudio' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/insertaudio/trumbowyg.insertaudio.min.js') }}"></script>
    {% endif %}
    {% if 'image' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/base64/trumbowyg.base64.min.js') }}"></script>
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/resizimg/trumbowyg.resizimg.min.js') }}"></script>
        <script src="{{ asset('bundles/xlabstrumbowyg/jquery-resizable.min.js') }}"></script>
    {% endif %}
    {% if 'lineheight' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/lineheight/trumbowyg.lineheight.min.js') }}"></script>
    {% endif %}
    {% if 'noembed' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/noembed/trumbowyg.noembed.min.js') }}"></script>
    {% endif %}
    {% if 'preformatted' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/preformatted/trumbowyg.preformatted.min.js') }}"></script>
    {% endif %}
    {% if 'specialChars' in form.vars.plugins %}
        <link rel="stylesheet" href="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/specialchars/ui/trumbowyg.specialchars.min.css') }}">
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/specialchars/trumbowyg.specialchars.min.js') }}"></script>
    {% endif %}
    {% if 'upload' in form.vars.plugins %}
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/upload/custom/trumbowyg.upload.min.js') }}"></script>
        <script src="{{ asset('bundles/xlabstrumbowyg/trumbowyg/plugins/resizimg/trumbowyg.resizimg.min.js') }}"></script>
        <script src="{{ asset('bundles/xlabstrumbowyg/jquery-resizable.min.js') }}"></script>
    {% endif %}
    {# END PLUGINS #}

    <style>
        .trumbowyg-editor {text-align: left!important;}
        .trumbowyg-editor-box, .trumbowyg-editor *:hover {cursor: text;}
        .trumbowyg-ui {display: inline-block; opacity: 0; width: 100%; height: auto; white-space: nowrap; overflow: hidden;}
        .trumbowyg-ui .trumbowyg-ui-images {display: inline-block; position: relative; width: 98%; height: 130px; margin: 2px 5px; background: linear-gradient(90deg, #f9f9f9, #e5e5e5); border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); border: 1px solid rgba(230, 230, 230, .3); overflow-x: scroll; overflow-y: hidden;}
        .trumbowyg-ui .trumbowyg-ui-images .trumbowyg-ui-item {display: inline-block; margin: 2px 3px; position: relative;}
        .trumbowyg-ui .trumbowyg-ui-images .trumbowyg-ui-item .trumbowyg-ui-item-options {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, .7); opacity: 0; display: flex; flex-direction: column; align-items: center; justify-content: center; transition: opacity 0.3s; z-index: 100;}
        .trumbowyg-ui .trumbowyg-ui-images .trumbowyg-ui-item .trumbowyg-ui-item-options a {display: inline-block; width: 30px; height: 30px; background-repeat: no-repeat; background-size: contain; overflow: hidden;}
        .trumbowyg-ui .trumbowyg-ui-images .trumbowyg-ui-item .trumbowyg-ui-item-options a.trumbowyg-ui-item-add {margin-bottom: 18px; background-image: url('{{ asset('bundles/xlabstrumbowyg/images/import.png') }}');}
        .trumbowyg-ui .trumbowyg-ui-images .trumbowyg-ui-item .trumbowyg-ui-item-options a.trumbowyg-ui-item-remove {background-image: url('{{ asset('bundles/xlabstrumbowyg/images/delete.png') }}');}
        .trumbowyg-ui .trumbowyg-ui-images .trumbowyg-ui-item .trumbowyg-ui-item-image {max-height: 100px;}
    </style>
    {% set attrs = {
        'data-plugin-options': form.vars.plugin_options|json_encode()|raw,
        'data-plugin-events': form.vars.plugin_events|json_encode()|raw
    } %}
    {% apply spaceless %}
        {{ form_widget(form, {'attr': attrs}) }}
        <script>
            $(document).ready(function() {
                let $this = $('#{{ form.vars.id }}');
                let options = $this.data('plugin-options');
                let events = $this.data('plugin-events');

            {% if 'upload' in form.vars.plugins %}
                // if I add my custom callbacks, then image is not inserted after upload
                if('plugins' in options) {
                    if('upload' in options['plugins']) {
                        options['plugins']['upload']['success'] = function(data, trumbowyg, $modal, values){
                            if(typeof window['_onTrumboWYGUploadSuccess'] === "function"){
                                window['_onTrumboWYGUploadSuccess'](data, trumbowyg, $modal, values);
                            }
                        };
                        options['plugins']['upload']['error'] = function(err){
                            if(typeof window['_onTrumboWYGUploadError'] === "function"){
                                window['_onTrumboWYGUploadError'](err);
                            }
                        };
                    }
                }
            {% endif %}

                options ? $this.trumbowyg(options) : $this.trumbowyg();

                for(let event in events){
                    if(events.hasOwnProperty(event)){
                        let callbackFunc = events[event];
                        if(callbackFunc !== false)
                        {
                            $this.on(event, function(){
                                if(typeof window[callbackFunc] === "function"){
                                    window[callbackFunc]($this);
                                }
                            });
                        }
                    }
                }

                $this.closest('form').on('submit', function(e){
                    $this.val($this.trumbowyg('html'));
                });

                {# focus input when clicking anywhere on the form control white space #}
                $(document).ready(function(){
                    $('.trumbowyg-editor-box').on('click', function(e){
                        //console.log($(e.target));
                        //if($(e.target).closest('.trumbowyg-editor').length){
                            $(this).find('.trumbowyg-editor').focus();
                        //}
                    });
                });
            });
        </script>
    {% endapply %}
{% endblock trumbowyg_widget %}